/* Configurações gerais para impressão */
@media print {
    body {
        width: 80mm; /* Largura típica de um recibo */
        margin: 0;
    }
}

body {
    font-family: monospace, 'Courier New', Courier;
    font-size: 18px;
    
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
    padding: 10em 0;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed black;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
}

#ticket-content div {
    margin-bottom: 5px;
    text-align: center;
}

#ticket-content {
    text-align: center;
}

.line {
    border-top: 1px dashed black;
    margin: 8px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.total {
    border-top: 1px dashed black;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
}
